.wrapper {
  background: linear-gradient(
    180deg,
    rgb(164, 189, 255) 24%,
    rgb(227, 168, 214) 100%
  );
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  /* max-width: 500px;
  max-height: 350px; */
  padding: 30px 30px;
  border-radius: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 16px;
  /* align-items: center; */
  /* transition: 1s; */
}

.hr-line {
	margin: 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid rgb(111, 111, 111);
}


/* Как реализовать грамотно */
.form__input_login {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.form__input_password {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/* ? */

.form h1 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  color: #4553b0;
}

.form__authorization_button {
  text-align: center;
  background: #a4bdff;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 40px;
  text-decoration: none;
}

/* .form__registration_button {
  text-align: center;
  flex-shrink: 0;
  background: #e3a8d6;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 40px;
  text-decoration: none;
} */

.form__registration_button a{
  text-decoration: none;
}
/* ? */

.form__mistake-authorization {
  text-align: center;
  margin-bottom: 1em;
  font-size: 20px;
  color: rgba(216, 85, 85, 0.527);
}